# --- EMAIL CONFIGURATION ---
EMAIL_DOMAINS=["example.com","example.net"]                     # List of domains your service handles (list)

# --- Purge configuration ---
EMAIL_PURGE_TIME=48                                             # Time value for when to purge
EMAIL_PURGE_UNIT="hours"                                        # minutes, hours, days
EMAIL_PURGE_CONVERT=true                                        # Convert to highest sensible unit (and round)
                                                                # /\ Example: 120 minutes = 2 hours, 121 minutes = ~2 hours with added tooltip

# --- Example emails to keep clean ---
EMAIL_EXAMPLE_ACCOUNT="example@48hr.email"                      # example email to preserve
EMAIL_EXAMPLE_UIDS=[1,2,3]                                      # example UIDs to preserve

# --- IMAP CONFIGURATION ---
IMAP_USER="user@example.com"                                    # IMAP username
IMAP_PASSWORD="password"                                        # IMAP password
IMAP_SERVER="imap.example.com"                                  # IMAP server address
IMAP_PORT=993                                                   # IMAP port (default 993)
IMAP_TLS=true                                                   # Use secure TLS connection (true/false)
IMAP_AUTH_TIMEOUT=3000                                          # Authentication timeout in ms
IMAP_REFRESH_INTERVAL_SECONDS=60                                # Refresh interval for checking new emails
IMAP_FETCH_CHUNK=200                                            # Number of UIDs per fetch chunk during initial load
IMAP_CONCURRENCY=6                                              # Number of concurrent fetch workers during initial load

# --- HTTP / WEB CONFIGURATION ---
HTTP_PORT=3000                                                  # Port
HTTP_BRANDING=["48hr.email","CrazyCo","https://crazyco.xyz"]    # [service_title, company_name, company_url]
HTTP_DISPLAY_SORT=2                                             # Domain display sorting:
                                                                # 0 = no change, 
                                                                # 1 = alphabetical,
                                                                # 2 = alphabetical + first item shuffled,
                                                                # 3 = shuffle all
HTTP_HIDE_OTHER=false                                           # true = only show first domain, false = show all
