services:
  48hr:
    ## Map environment variables from file (e.g. for imap password)
    env_file: ./.env
    image: localhost/48hr
    restart: always
    build: .
    ports:
      - 3000:3000
    ## Create volume for inbox locking
    #volumes:
    #  - 48hr-vol:/home/node/app/db/

#volumes:
#  48hr-vol:
