{% extends 'layout.twig' %}

{% block body %}
    <div class="action-links">
        <a href="/inbox/{{ address }}">â† Return to inbox</a>
        <a href="/logout">Logout</a>
    </div>
  <h1>{{message}}</h1>
  <h2>{{error.status}}</h2>
  <pre>{{error.stack}}</pre>
{% endblock %}
